.book-card-title, .book-card-desc {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.book-card-cover {
    width: 172px;
    height: 248px;
    object-fit: cover;
}